<div>
  <div class="row">
    {image_wrapper}<div class="col-md-12"><img src="{$image}" style="height:auto; width='80%' max-width:80%" alt="" class="img-responsive img-blog"/></div>{/}
  </div>
  <div class="row">
<h2 id="xepan-blog-title" xepan-component="xepan/cms/Tool_Text" 
class="xepan-component xepan-editable-text 
xepan-blog-title">{$title}</h2>
      <div id="xepan-blog-description" 
xepan-component="xepan/cms/Tool_Text" emptytext="No Content found" 
class="xepan-component xepan-editable-text 
xepan-blog-description">{$post_description}</div>
     {tag_wrapper}
      <div class="post-tags"><strong>Tag : </strong><a href="#">{$tag}</a></div>{/} 
    </div>
  {$editing_mode}
  {$comments}    
</div>{$Content}
<style type="text/css" media="screen">
  .blog textarea {
    width: 100%;
  }
</style>
