<div>
  <div class="row">
    <div class="col-md-12">{image_wrapper}<img src="{$image}" style="height:auto; width='80%' max-width:80%" alt="" class="img-responsive img-blog"/>{/}</div>
  </div>
  <div class="row">
      <h2>{$title}</h2>
      <p>{$post_description}</p>{tag_wrapper}
      <div class="post-tags"><strong>Tag : </strong><a href="#">{$tag}</a></div>{/} 
    </div>
  {$comments}    
</div>{$Content}
<style type="text/css" media="screen">
  .blog textarea {
    width: 100%;
  }
</style>