<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{title}xEpan Documentation{/}</title>
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">

<!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    xEpan-ATK-Header-End-->
    <script type="text/javascript">
        $(function(){
          $('body').on('beforeSave',function(event, ui){
            $('.animated').removeClass('animated');
          });
        });
    </script>
<link rel="alternate" type="application/rss+xml" title="frittt.com" href="feed/index.html">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/prettify.css">
<style>
.lone-header a{
	color:#ffffff;
}
</style>
</head>
<body>
<div class="wrapper">
<nav>
 
  	<div class="pull-left">
    	<h1><a href="index"><img src="img/logo.png" alt="" /> <span>Epan</span></a></h1>
    </div>
</nav>
<header>
  <div class="container">
    <h2 class="lone-header"> <a href="index"> Documentation </a>[<a href="website?post_id=6"> Website </a>|<a href="erp?post_id=2"> ERP </a>|<a href="template?post_id=4">  Template </a>|<b><a href="developer?post_id=5"> Developer </a></b>]</h2>
  </div>
</header>
<div class="xepan-component xepan-sortable-component xepan-page-wrapper">
{$Content}
</div>
<section class="vibrant centered">
  <div class="">
    <h4> <a href="https://groups.google.com/forum/#!forum/xepan" target="_blank">Visit Forum</a> | <a href="bugs">Report Bugs </a>|<a href="community"> Join The Community </a>| <a href="contribute">Contribute To Epan </a></h4>
  </div>
</section>
<footer>
  <div class="">
    <p> &copy; Copyright epan.in | All Rights Reserved.</p>
  </div>
</footer>
</div>
<script type="text/javascript" src="js/prettify/prettify.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="js/layout.js"></script>
</body>
</html>
